### OVS-SGX

This notebook will be used to display the results of my optimized version of ovs-sgx.

In [46]:
import pandas as pd
import numpy as np
%matplotlib inline

In [47]:
DATA_PATH = './data'

## 1. Flow table modifications

### 1.1 Add flows

#### 1.1.1 Simple flow
This benchmark consisted of adding a simple (only a single table flow table had to be consulted) flow to the flow tables.

In [48]:
add_flow_df = pd.read_csv(DATA_PATH + "/add_flow.csv");

In [49]:
add_flow_df.head()

   BASELINE     SGX
0     36926  145752
1     14512   86741
2      7828   84322
3      6883   97063
4      6239  110692

In [50]:
add_flow_df.count()

BASELINE    100004
SGX         100004
dtype: int64

Median execution time for add-flow operaration:

In [51]:
add_flow_df.median()

BASELINE      6459.0
SGX         112136.0
dtype: float64

### 1.2 Delete flows

### 1.2.1 strict

In [52]:
del_flow_strict_df = pd.read_csv(DATA_PATH + "/del_flow_strict.csv");

Median execution time:

In [53]:
del_flow_strict_df.median()

BASELINE     38478.0
SGX         107181.0
dtype: float64

### 1.2.2 loose

## 1.3 Modify flows

### 1.3.1 strict

### 1.3.2 loose

# 2 Flow eviction